<div id="board"
  class="relative man paxl bg-white"
  style="height: 177px;">

  <!-- RSC_diagram -->
  <div
    id="RSC_diagram"
    class="diagram clearfix"
    style="display: none;">
    <div class="top">
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width:54px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width:54px; height: 30px; margin-right:0px;">
        <span></span>
      </div>
    </div>
    <div class="center" style="height: 60px; width:auto; clear:both;">
      <div class="d width" style="width:38px; height:60px; border-right:none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>W</span>
          <div class="darrow-right"></div>
        </div>
        <div class="v-dimension">
          <div class="darrow-top"></div>
          <span>D</span>
          <div class="darrow-bottom"></div>
        </div>
      </div>
      <div class="d length" style="width:58px; height:60px; border-right:none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>L</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d width" style="width:38px; height:60px; border-right:none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>W</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d length" style="width:58px; height:60px;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>L</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d glue" style="height:60px;"></div>
    </div>
    <div class="bottom">
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width:54px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width:54px; height: 30px; margin-right:0px;">
        <span></span>
      </div>
    </div>
  </div>
  <!-- /RSC_diagram -->

  <!-- HSC_diagram -->
  <div
    id="HSC_diagram"
    class="diagram clearfix"
    style="display: none;">
    <div class="center" style="height: 60px; width:auto; clear:both;">
      <div class="d width" style="width:38px; height:60px; border-right:none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>W</span>
          <div class="darrow-right"></div>
        </div>
        <div class="v-dimension">
          <div class="darrow-top"></div>
          <span>D</span>
          <div class="darrow-bottom"></div>
        </div>
      </div>
      <div class="d length" style="width:58px; height:60px; border-right:none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>L</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d width" style="width:38px; height:60px; border-right:none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>L</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d length" style="width:58px; height:60px;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>L</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d glue" style="height:60px;"></div>
    </div>
    <div class="bottom">
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width:54px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width:54px; height: 30px; margin-right:0px;">
        <span></span>
      </div>
    </div>
  </div>
  <!-- /HSC_diagram -->

  <!-- FOLF_diagram -->
  <div
    id="FOLF_diagram"
    class="diagram clearfix"
    style="width: 350px; transform: scale(0.5) translateX(-50%); font-size: 18px; display: block;">
    <div class="top">
      <div class="d widthflap" style="width: 73px; height: 38px; margin-right: 1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width: 73px; height: 38px; margin-right: 1px;">
        <span></span>
      </div>
      <div class="d widthflap" style="width: 73px; height: 38px; margin-right: 1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width: 73px; height: 38px; margin-right: 0px;">
        <span></span>
      </div>
    </div>
    <div class="center" style="height: 116px; width: auto; clear: both;">
      <div class="d width" style="width: 75px; height: 114px; border-right: none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>75</span>
          <div class="darrow-right"></div>
        </div>
        <div class="v-dimension">
          <div class="darrow-top"></div>
          <span style="margin-top: 38px; margin-left: 0px;">86</span>
          <div class="darrow-bottom"></div>
        </div>
      </div>
      <div class="d length" style="width: 75px; height: 114px; border-right: none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>75</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d width" style="width: 75px; height: 114px; border-right: none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>75</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d length" style="width: 75px; height: 114px;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>75</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d glue" style="height: 114px; width: 30px;"></div>
    </div>
    <div class="bottom">
      <div class="d widthflap" style="width: 73px; height: 38px; margin-right: 1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width: 73px; height: 38px; margin-right: 1px;">
        <span></span>
      </div>
      <div class="d widthflap" style="width: 73px; height: 38px; margin-right: 1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width: 73px; height: 38px; margin-right: 0px;">
        <span></span>
      </div>
    </div>
  </div>
  <!-- /FOLF_diagram -->

  <!-- BL_diagram -->
  <div
    id="BL_diagram"
    class="diagram clearfix"
    style="display:none;">
    <div class="top">
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width:54px; height: 30px; margin-right:1px;">
        <span>side</span>
      </div>
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:0px;">
        <span></span>
      </div>
    </div>
    <div class="center" style="height: 60px; width:auto; clear:both;">
      <div class="d width" style="width:38px; height:60px; border-right:none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>D</span>
          <div class="darrow-right"></div>
        </div>
      </div>
      <div class="d length" style="width:58px; height:60px; border-right:none;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>W</span>
          <div class="darrow-right"></div>
        </div>
        <div class="v-dimension">
          <div class="darrow-top"></div>
          <span>L</span>
          <div class="darrow-bottom"></div>
        </div>
      </div>
      <div class="d width" style="width:38px; height:60px;">
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>D</span>
          <div class="darrow-right"></div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:1px;">
        <span></span>
      </div>
      <div class="d lengthflap" style="width:54px; height: 30px; margin-right:1px;">
        <span>side</span>
      </div>
      <div class="d widthflap" style="width:34px; height: 30px; margin-right:0px;">
        <span></span>
      </div>
    </div>
  </div>
  <!-- /BL_diagram -->

  <!-- FPF_diagram -->
  <div
    id="FPF_diagram"
    class="diagram clearfix"
    style="display:none;">
    <div class="depthflap depthflap1">
      <div class="d flap" style="width:10px; height: 10px; border-right:none;">
        <span></span>
      </div>
      <div class="d width" style="width:100px; height: 10px; border-right:none; border-bottom:none;">
        <span></span>
        <div class="v-dimension">
          <div class="darrow-top"></div>
          <span>D</span>
          <div class="darrow-bottom"></div>
        </div>
      </div>
      <div class="d flap" style="width:10px; height: 10px;">
        <span></span>
      </div>
    </div>
    <div class="widthflap widthflap1">
      <div class="d flap" style="width:10px; height: 50px; margin-top:1px; border-right:none;">
        <span></span>
      </div>
      <div class="d width" style="width:100px; height: 50px; border-right:none; border-bottom:none;">
        <span></span>
        <div class="h-dimension">
          <div class="darrow-left"></div>
          <span>L</span>
          <div class="darrow-right"></div>
        </div>
        <div class="v-dimension">
          <div class="darrow-top"></div>
          <span>W</span>
          <div class="darrow-bottom"></div>
        </div>
      </div>
      <div class="d flap" style="width:10px; height: 50px; margin-top:1px;">
        <span></span>
      </div>
    </div>
    <div class="depthflap depthflap2">
      <div class="d flap" style="width:10px; height: 10px; margin-top:1px; border-right:none;">
        <span></span>
      </div>
      <div class="d width" style="width:100px; height: 10px; border-right:none; border-bottom:none;">
        <span></span>
      </div>
      <div class="d flap" style="width:10px; height: 10px; margin-top:1px;">
        <span></span>
      </div>
    </div>
    <div class="widthflap widthflap2">
      <div class="d flap" style="width:10px; height: 50px; margin-top:1px; border-right:none;">
        <span></span>
      </div>
      <div class="d width" style="width:100px; height: 50px; border-right:none; border-bottom:none;">
        <span></span>
      </div>
      <div class="d flap" style="width:10px; height: 50px; margin-top:1px;">
        <span></span>
      </div>
    </div>
    <div class="depthflap depthflap3">
      <div class="d flap" style="width:10px; height: 10px; margin-top:1px; border-right:none;">
        <span></span>
      </div>
      <div class="d width" style="width:100px; height: 10px; border-right:none;">
        <span></span>
      </div>
      <div class="d flap" style="width:10px; height: 10px; margin-top:1px;">
        <span></span>
      </div>
    </div>
  </div>
  <!-- /FPF_diagram -->

</div>