<div class="specs-main">
  <div class="spec-items">
    <div class="item">
      <h3 class="specs-title">Technical Specs</h3>
      <div class="row">
        <div class="col-sm-4">
          <ul>
            <li>
              <span class="label">Screen Size</span>
              <p>40"</p>
            </li>
            <li>
              <span class="label">Recommended Resolution</span>
              <p>1080p</p>
            </li>
            <li>
              <span class="label">Refresh Rate</span>
              <p>120Hz</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul>
            <li>
              <span class="label">Aspect Ratio</span>
              <p>16:9</p>
            </li>
            <li>
              <span class="label">Panel</span>
              <p>LED</p>
            </li>
            <li>
              <span class="label">Refresh Rate</span>
              <p>120Hz</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4"> 
          <ul>
            <li>
              <span class="label">3DTV</span>
              <p>No</p>
            </li>
            <li>
              <span class="label">Tuner</span>
              <p>ATSC/Clear QAM Tuners</p>
            </li> 
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <h3 class="specs-title">Connectivity</h3>
      <div class="row">
        <div class="col-sm-4">
          <ul>
            <li>
              <span class="label">HDMI</span>
              <p>2 In</p>
            </li>
            <li>
              <span class="label">LAN</span>
              <p>1</p>
            </li>
            <li>
              <span class="label">USB</span>
              <p>2</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul>
            <li>
              <span class="label">Digital Audio</span>
              <p>1 Optical Out</p>
            </li>
            <li>
              <span class="label">Composite A/V</span>
              <p>1 In</p>
            </li>
            <li>
              <span class="label">Component Video</span>
              <p>1 In</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4"> 
          <ul>
            <li>
              <span class="label">Other Connectors</span>
              <p>1 x RF In</p>
              <p>1 x Audio Out (Mini Jack)</p>
              <p>1 x RS232C</p>
            </li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-description">
  <div style="text-align:center;">
    <h3 style="font-size:44px;font-weight:500;line-height:46px;color:#090909;margin-bottom:28px;margin-top:79px;">Exceptional color. Authentic images.</h3>
    <p style="text-align:center;margin-bottom:57px;">Nullam dignissim elit ut urna rutrum, a fermentum mi auctor. Mauris efficitur magna orci, et dignissim lacus scelerisque sit amet. Proin malesuada tincidunt nisl ac<br>commodo. Vivamus eleifend porttitor ex sit amet suscipit. Vestibulum at ullamcorper lacus, vel facilisis arcu. Aliquam erat volutpat.</p>
    <img src="//cdn.shopify.com/s/files/1/2109/8617/files/banner-video.jpg?v=1499529742" alt="" />
  </div>
  <div style="text-align:left;">
    <div style="display:inline-block;vertical-align:middle;" class="col-sm-6">
      <h3 style="font-size:44px;font-weight:500;line-height:46px;color:#090909;margin-bottom:32px;margin-top:25%;">Dynamic brightness<br>reveals hidden details</h3>
      <p>Nullam dignissim elit ut urna rutrum, a fermentum mi auctor. Mauris efficitur magna orci, et dignissim lacus<br>scelerisque sit amet. Proin malesuada tincidunt nisl ac commodo. Vivamus eleifend porttitor ex sit amet suscipit.<br>Vestibulum at ullamcorper lacus, vel facilisis arcu. Aliquam erat volutpat.</p>
    </div>
    <div style="display:inline-block;text-align:center;" class="col-sm-6">
      <img src="https://cdn.shopify.com/s/files/1/2109/8617/files/banner-desc1.jpg?18196916337773695235" alt=""/>
    </div>
  </div>
  <div style="text-align:right;">
    <div style="display:inline-block;text-align:center;" class="col-sm-5">
      <img src="https://cdn.shopify.com/s/files/1/2109/8617/files/banner-desc2.jpg?756023193565719692" alt=""/>
    </div>
    <div style="display:inline-block;vertical-align:middle;" class="col-sm-7">
      <h3 style="font-size:44px;font-weight:500;line-height:46px;color:#090909;margin-bottom:32px;margin-top:12%;">An incredible view,<br>wherever you sit</h3>
      <p>Nullam dignissim elit ut mm urna rutrum, a fermentum mi auctor. Mauris efficitur magna orci, et dignissim lacus<br>scelerisque sit amet. Proin malesuada tincidunt nisl ac commodo. Vivamus eleifend porttitor ex sit amet suscipit.<br>Vestibulum at ullamcorper lacus, vel facilisis arcu. Aliquam erat volutpat.</p>
    </div> 
  </div>
</div>